/* .expense-log {
    margin-left: 12px;
    border: 0.5px solid #767676;
    overflow-y: scroll;
    height: 360px;
    max-width: 400px;
    margin-top: "50px" ;  
}

th {
    
    border-bottom: 0.5px solid #767676;
    border-right: 0.5px solid #767676;
}

td {
    padding-right: 10px;
} */