#popup {
  position: fixed;
  background: rgba(244, 243, 243, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#popup-inner {
  position: relative;
  padding: 40px;
  background: rgb(255, 255, 255, 0.8);
  opacity: 100%;
}

.popup-inner button {
  position: absolute;
  top: 16px;
  right: 16px;
}