@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
}

body {  
    font-family: 'Playfair Display', serif;
    color:#202124;
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #333333;
  
}

#inner-signup p {
    text-align: center;
    margin-bottom: 20px;
}

#inner-signup {
    background-color: #222222;
    padding: 100px 150px 100px 150px;
    color:#fcfcfc;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#inner-signup h1 {
    margin-bottom: 40px;
}

#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-form input {
    margin-top: 10px;
    width: 190px;
    height: 23px;
    border: none;
    border-radius: 3%;
}

// #signup-form input:hover {
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
// }


#signup-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    margin-left: 130px;
    padding: 3px;
    width: 60px;
    border: none;
    border-radius: 5%;
    color: #fdfdfd;
    background-color: #509bfd;
}

button:hover {
    background-color: #2f7fe8;
}

